<!-- index.html -->

<!DOCTYPE html>
<html ng-app="movieApp">
  <head>
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- angular -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>

	<!-- custom script (angular app) -->
	<script type="text/javascript" src="js/app.js"></script>

  </head>
  <body ng-controller="movieController as movieCtrl">

    <h2>Movies</h2>

    <div ng-if="movieCtrl.moviesToWatch.length > 0">
    <h3>{{movieCtrl.moviesToWatch.length}} <span ng-pluralize count="movieCtrl.moviesToWatch.length" when="{'1': 'movie', 'other': 'movies'}"></span> to watch</h3>

    <div ng-repeat="movie in movieCtrl.moviesToWatch | orderBy:'name'">
      {{movie.name}}
      {{movie.genre}}
    </div>

    <br>
    <form ng-submit="movieCtrl.addMovie(movieCtrl.name,movie.genre)">
           <div class="add-form">
             <label>Movie Title</label>
             <input type="text" ng-model="movieCtrl.moviesToWatch.name" class="form-control" placeholder="Add a movie to watch?" autofocus>
             <input type="text" ng-model="movieCtrl.moviesToWatch.genre" class="form-control" placeholder="Add genre of movie">
           </div>
           
           <input type="submit" value="Add Movie" class="btn btn-default">
   </form>


  </body>
</html>
